/* @import url("https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"); */

/* http://cdn.eso.org/images/screen/alma-jfs-2010-10.jpg */
/* * is a wildcard */
/*
  slide-left: https://res.cloudinary.com/jkeohan/image/upload/v1552337740/arrow_left_slim.png 
  slide-right: https://res.cloudinary.com/jkeohan/image/upload/v1552337740/arrow_right_slim.png
  arrow-down: https://res.cloudinary.com/jkeohan/image/upload/v1552338932/ui_sprite.png
*/

:root {
  --red: rgb(84, 35, 26);
}

* {
  /*   border: 1px solid white; */
  box-sizing: border-box;
  color: white;
  font-family: Montserrat;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body div.container {
  width: 100%;
  height: 100%;
}

div.container header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

div.container header .gradient_container_top {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  height: 200px;
  width: 100%;
  position: absolute;
}

div.container header .gradient_container_bottom {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

div.container header .header-nav-area {
  /*     background-color: var(--red); */
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.container header .header-nav-area #nav_container {
  display: flex;
  justify-content: flex-end;
}

div.container header .brand_area {
  background: url("https://mars.nasa.gov/assets/logo_nasa_trio@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 49px;
  width: 260px;
  z-index: 100;
}

div.container header .brand_area .brand1 {
  text-indent: -999px;
  width: 22%;
}

div.container header .brand_area .brand2 {
  text-indent: 999px;
  width: 70%;
  text-indent: -999px;
}

div.container header #navigation {
  /* background-color: var(--red); */
  /* align-items: center;
  display: none;
  text-align: right;
  margin-right: 30px;
  z-index: 100; */
}

/* div.container header #navigation {
  display:none;
} */

div.container header form {
  /* display: none; */
}

header form.meganav_search {
  position: relative;
}

header form.meganav_search .search_submit {
  padding: 0;
  cursor: pointer;
  width: 42px;
  height: 40px;
  background: url(https://mars.nasa.gov/assets/ui_sprite@2x.png) -131px -8px;
  background-size: 300px;
}

header form.meganav_search .search_field {
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  width: 37px;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  height: 34px;
}

div.container header nav a {
  font-size: 0.9em;
  font-weight: 300;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

div.container header .menu-icon {
  width: 25px;
  height: 25px;
  background: url(https://mars.nasa.gov/assets/ui_sprite@2x.png) 0 0;
  background-size: 300px;
  z-index: 100;
}

div.container header div.wrapper {
  background: rgba(0, 0, 0, 0.4);
  /*   margin-left: calc(90% - 530px); */
  /*   margin-top: 250px; */
  bottom: 30%;
  /*   right:10%; */
  /*     width: 530px; */
  padding: 1.4em;
  position: absolute;
  /* height: 200px; */
  width: 100%;
  text-align: center;
  /* transition: all 1s; */
}

header div.wrapper div.article h1 {
  font-size: 1.7em;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 0.4em;
  /* width: 70%; */
  line-height: 1.5;
}

header div.wrapper div.article h1 a {
  text-decoration: none;
}

header div.wrapper div.article h1 span {
  background: url("https://mars.nasa.gov/assets/arrow_up_white_@2x.png") center
    no-repeat;
  position: absolute;
  right: 0;
  margin-top: -0.2em;
  background-size: 12px;
  height: 44px;
  width: 44px;
}

header div.wrapper div.article h1 span.arrow.open {
  transform: rotate(180deg);
}

header div.wrapper div.article div.description {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.8em;
  height: 0%;
  max-height: 0;
  overflow: hidden;
  /* transform: scaleY(0); */
  transition: all 1.5s;
  /*   padding:1.4em; */
}

header div.wrapper div.article div.description.open {
  max-height: 300px;
  /* transform: scaleY(1); */
  /* transform-origin:top;  */
  overflow: hidden;
}

header div.wrapper div.article h1 span {
  font-style: italic;
  font-weight: 600;
}

header div.wrapper div.article h3 {
  font-weight: 300;
  text-align: center;
}
